* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    color: black;
    font-family: 'Inter', sans-serif;
}

body {
    font-size: 1.5rem;
    text-align: justify;
}

header {
    height: 10rem;

}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    font-weight: 400;
    text-align: center;
}

main {
    min-height: var(--altura-main);
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
}

#titulo {
    height: 70%;
    text-align: center;
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

section{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

menu{
    height: 20%;
    color: blueviolet;
}

table tr th, table tr td{
    border: 0.3rem solid #f816f8;
    padding: 0.8rem;
    text-align: center;
}
table{
    border-collapse: collapse;
}
.materia{
    text-align: left;
}

footer {
    background-color: rgb(172, 33, 172);
    height: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0rem;

    
}

form button {
    background-color: #8d36ff;
    max-width: 20%;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border:0;
    color: white;
}

input {
    height: 2rem;
}

fieldset {
    padding: 1%;
    width: 50%;
    
    
}

form{
    display: flex;
    justify-content: center;
}

a {
    color: rgb(255, 0, 242);
}

a:visited {
    color: rgb(0, 115, 255);
}

a:hover {
    color: #8d36ff;
}