* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --primary: hsl(294, 100%, 33%);
    --altura-main: calc(100vh - 15rem);
}

body {
    font-size: 1.5rem;
    text-align: justify;
}

header {
    height: 10rem;

}

h1 {
    color: rgb(255, 255, 255);
}

main {
    min-height: var(--altura-main);
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
}

#center-main {
    width: 100%;
    height: 90%;
    margin-top: 2rem;
}

h2 {
    font-weight: bold;
}

#titulo {
    height: 70%;
    text-align: center;
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

section{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: 2rem;
}

menu{
    height: 20%;
    color: rgb(125, 0, 242);
}

table tr th, table tr td{
    border: 0.2rem solid #f816f8;
    padding: 0.45rem;
    text-align: center;
}

table {
    border-collapse: collapse;
}

.materia{
    text-align: left;
}

footer {
    background-color: var(--primary);
    height: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer p{
    color: rgb(255, 255, 255);
    font-size: x-large;
    margin-left: 2rem;
}

form button {
    background-color: var(--primary);
    max-width: 20%;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    font-size: medium;
    color: white;
}



fieldset {
    padding: 1%;
    width: 50%;
    margin-top: 2rem;
}

form{
    display: flex;
    justify-content: center;
}

#menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#menu a:visited {
    color: rgb(108, 167, 255);
}

#menu a:hover {
    color: #d82fb4;
    text-decoration: underline;
}

a{
    color: rgb(132, 0, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(108, 167, 255);
}

a:hover {
    color: #d82fb4;
    text-decoration: underline;
}

caption {
    font-size: xx-large;
    font-weight: bold;
}

legend {
    font-size: x-large;
    font-weight: bold;
}

#center-main {
    margin-top: 2rem;
}

#textarea {
    row-gap: ;
}